<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, daoism All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: daoism
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.raindrop.codegen.mapper.CodeGenMapper">

    <select id="queryColumn" resultType="org.raindrop.codegen.entity.TableColumn">
        select
            table_schema,table_name,column_name, data_type, column_key, column_type, column_comment from information_schema.columns
        where
            table_schema = '${dataBaseName}'
        and table_name = '${tableName}'
    </select>

    <select id="queryTable" resultType="org.raindrop.codegen.entity.TableInfo">
        select table_name, table_comment, create_time from information_schema.tables where table_schema = '${dataBaseName}' and table_name = '${tableName}'
    </select>
</mapper>
