<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.raindrop.gateway.mapper.SysGatewayConfigMapper">

    <resultMap id="SysGatewayConfigMap" type="org.raindrop.gateway.entity.SysGatewayConfig">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="routerId" column="router_id"/>
        <result property="routerName" column="router_name"/>
        <result property="predicates" column="predicates"/>
        <result property="filter" column="filter"/>
        <result property="uri" column="uri"/>
        <result property="order" column="order"/>
    </resultMap>
    <insert id="batchInsert">
        insert into sys_gateway_config
        (`router_id`,`router_name`,`predicates`,`filter`,`uri`,`order`)
        values
        <foreach collection="gatewayConfigs" item="gatewayConifg" separator=",">
            (#{gatewayConifg.routerId},#{gatewayConifg.routerName},#{gatewayConifg.predicates},#{gatewayConifg.filter},#{gatewayConifg.uri},#{gatewayConifg.order})
        </foreach>
    </insert>


</mapper>
