

package ${base.pkg}.${base.module}.controller;

import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${base.pkg}.${base.module}.entity.${base.className};
import ${base.pkg}.${base.module}.service.${base.className}Service;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.*;


/**
 * ${base.comments}
 *
 * @author ${base.author}
 * @date ${base.datetime}
 */
@RestController
@AllArgsConstructor
@RequestMapping("/${base.pathName}" )
@Api(value = "${base.pathName}", tags = "${base.comments}管理")
public class ${base.className}Controller {

    private final ${base.className}Service ${base.classNameValue}Service;

}
