package ${base.pkg}.${base.module}.entity;

import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import io.swagger.annotations.ApiModelProperty;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;

import java.time.*;


/**
* ${base.comments}
*
* @author ${base.author}
* @date ${base.dateTime}
*/
@Data
@Builder
@AllArgsConstructor
@TableName(value = "${base.tableName}")
public class ${base.className} extends Model<${base.className}> {
    private static final long serialVersionUID=1L;
#foreach ($column in $columns)
    /**
    *  $column.comments
    */
    #if($column.priKey)
@TableId
    #end
@ApiModelProperty("$column.comments")
    private $column.attrType $column.lowerAttrName;
#end

    public ${base.className} () {

    }
}
