

package ${base.pkg}.${base.module}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${base.pkg}.${base.module}.entity.${base.className};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${base.comments}
 *
 * @author ${base.author}
 * @date ${base.dateTime}
 */
@Mapper
public interface ${base.className}Mapper extends BaseMapper<${base.className}> {

}
