

package ${base.pkg}.${base.module}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${base.pkg}.${base.module}.entity.${base.className};

/**
 * ${base.comments}
 *
 * @author ${base.author}
 * @date ${base.datetime}
 */
public interface ${base.className}Service extends IService<${base.className}> {

}
