
package ${base.pkg}.${base.module}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${base.pkg}.${base.module}.entity.${base.className};
import ${base.pkg}.${base.module}.mapper.${base.className}Mapper;
import ${base.pkg}.${base.module}.service.${base.className}Service;
import org.springframework.stereotype.Service;

/**
 * ${base.comments}
 *
 * @author ${base.author}
 * @date ${base.datetime}
 */
@Service
public class ${base.className}ServiceImpl extends ServiceImpl<${base.className}Mapper, ${base.className}> implements ${base.className}Service {

}
