<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.raindrop.upms.mapper.SysResourceMapper">

    <resultMap id="SysResourceMap" type="org.raindrop.upms.entity.SysResource">
        <id property="resourceId" column="resource_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <result property="type" column="type"/>
        <result property="name" column="name"/>
        <result property="permission" column="permission"/>
        <result property="path" column="path"/>
        <result property="parentId" column="parent_id"/>
        <result property="icon" column="icon"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <select id="listResourceByRoleId" resultType="org.raindrop.upms.vo.ResourceVo">
        SELECT a.resource_id,
               b.type,
               b.`name`,
               b.`permission`,
               b.path,
               b.parent_id,
               b.icon,
               b.sort
        FROM sys_role_resource a
                 LEFT JOIN sys_resource b ON a.resource_id = b.resource_id
        WHERE a.role_id = #{roleId}
          AND b.deleted = 0
        ORDER BY b.sort asc
    </select>


</mapper>
